USE [master]
GO
/****** Object:  Database [TP4]    Script Date: 13 jul. 2021 11:38:58 ******/
CREATE DATABASE [TP4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 13 jul. 2021 11:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Almacen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grafica]    Script Date: 13 jul. 2021 11:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grafica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Hercio] [float] NOT NULL,
	[Cores] [int] NOT NULL,
	[MarcaGrafica] [varchar](50) NOT NULL,
	[PrecioFabricacion] [float] NOT NULL,
	[Gama] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[AlmacenId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procesador]    Script Date: 13 jul. 2021 11:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procesador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Hercio] [float] NOT NULL,
	[Cores] [int] NOT NULL,
	[MarcaProcesadores] [varchar](50) NOT NULL,
	[Generacion] [varchar](50) NOT NULL,
	[PrecioFabricacion] [float] NOT NULL,
	[Gama] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[AlmacenId] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
